.app-layout {
    height:  100vh;
    position: relative;   
}

.sider-content {
   display: flex;
   justify-content: center;
    
}
.parent {
    position: relative;
}
.clock {
    padding: 0;
    position: absolute;
    top:0;
    left: 30;
    z-index: 10;
    border-width: 2px;
	border-color: rgb(30, 31, 32) !important;
	background-color: rgba(239, 239, 239, 0.6);
}